body{
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  list-style-type: none;
}