body{
  display: flex;
  flex-direction: column;
  background-color: #E1EF7E;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #12B296;
  justify-content: space-between;
}

.other_pages,
link_images{
  display: flex;
  flex-grow: 1;
  gap: 20px;
}


ul {
  list-style-type: none;
}