body{
  margin: 0;
}
#top{
  background-color: rgb(84, 84, 222);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#about_me{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;  
  justify-content: space-between;
}

.about_me_details{
  display: flex;
  flex-direction: row;  
}

#portfolio{

}

.highlight_font,
.large_font,
.medium_font,
.small_font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-shrink: 1;
}

.highlight_font{
  font-size: 3.0vw;
  background-color: rgb(84, 84, 222);
  color: white;
  margin-bottom: 20px;
}

.large_font{
  font-size: 3.0vw;
}

.medium_font{
  font-size: 2.5vw;
}
.small_font{
  font-size: 1.5vw;
}

nav{
  height: 30px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

a{
  color: white;
  text-decoration: none;
}

#about_me img{
  max-width: 300px; /* Make the image responsive */
  height: auto; /* Maintain the aspect ratio */
}


/*
body{
  display: flex;
  flex-direction: column;
  background-color: #2B3D5B;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.other_pages,
link_images{
  display: flex;
  flex-grow: 1;
  gap: 20px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  margin: 5px;
}

.main {
  display: flex;
  flex-direction: row;
}


ul {
  list-style-type: none;
}

p {
  font-size: 24px;
}

.main img {
  margin-right: 40px;
}

h1 {
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
  align-content: center;
}
*/